[Unit]
Description=Sentinel daemon
After=network.target

[Service]
Environment=LD_LIBRARY_PATH=/usr/local/lib/
ExecStart=/bin/sh -c '/usr/local/bin/sentinel check-unauthorized-changes && /usr/local/bin/sentinel analyze-process-behaviors'
Restart=always
Environment=RUST_LOG=info
PIDFile=/run/sentinel.pid

[Install]
WantedBy=multi-user.target
