[Unit]
Description=Sentinel daemon
After=network.target

[Service]
Environment=LD_LIBRARY_PATH=/usr/local/lib/
ExecStart=/usr/local/bin/sentinel-execstart.sh
Restart=always
Environment=RUST_LOG=info
PIDFile=/run/sentinel.pid

[Install]
WantedBy=multi-user.target
