name: Release

on:
    push:
        tags:
            - 'v*.*.*'

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                # linux and windows targets
                target: [x86_64-unknown-linux-gnu, i686-unknown-linux-gnu, aarch64-unknown-linux-gnu, x86_64-pc-windows-msvc, aarch64-pc-windows-msvc]

        steps:
        - uses: actions/checkout@v3

        - name: install system deps
          run: |
            sudo apt-get update

        - name: download and build xgboost c lib
          run: |
            git clone --recursive https://github.com/dmlc/xgboost.git
            cd xgboost
            mkdir build && cd build
            cmake -S .. -B . -DUSE_CUDA=OFF -DBUILD_SHARED_LIB=ON
            make -j$(nproc)
            #
            echo "export XGBOOST_ROOT=$(pwd)/.." >> $GITHUB_ENV
            echo "export LD_LIBRARY_PATH=$(pwd)/../lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV

        - name: download and build lief c lib
          run: |
            sudo apt-get update
            sudo apt-get install -y cmake g++ wget unzip

            # Clone LIEF
            git clone https://github.com/lief-project/LIEF.git
            cd LIEF

            # Build LIEF
            mkdir build && cd build
            cmake -DCMAKE_INSTALL_PREFIX=$HOME/lief ..
            cmake --build . --target install

            # Export paths for CI
            echo "export LIEF_ROOT=$HOME/lief" >> $GITHUB_ENV
            echo "export LD_LIBRARY_PATH=$HOME/lief/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV
            echo "export CMAKE_PREFIX_PATH=$HOME/lief:$CMAKE_PREFIX_PATH" >> $GITHUB_ENV

        - name: clean old targets
          run: cargo clean

        - name: setup rust
          uses: actions-rs/toolchain@v1
          with:
            toolchain: stable
            override: true

        - name: install deps
          run: rustup target add ${{ matrix.target }}

        - name: build
          run: cargo build --release --target ${{ matrix.target }}

        - name: make artifiacts dir
          run: mkdir -p artifacts

        - name: copy binary
          run: cp target/${{ matrix.target}}/release/* artifacts

        - name: generate sha256 checksums
          run: |
            cd artifacts
            for f in *; do
                sha256sum "$f" > "$f.sha256"
            done

        - name: upload release asset
          uses: softprops/action-gh-release@v1
          with:
            files: artifiacts/*
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
