name: Release

on:
    push:
        tags:
            - 'v*.*.*'

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                # linux and windows targets
                target: [x86_64-unknown-linux-gnu, i686-unknown-linux-gnu, aarch64-unknown-linux-gnu, x86_64-pc-windows-msvc, aarch64-pc-windows-msvc]

        steps:
        - uses: actions/checkout@v3

        - name: clean old targets
          run: cargo clean

        - name: setup rust
          uses: actions-rs/toolchain@v1
          with:
            toolchain: stable
            override: true

        - name: install deps
          run: rustup target add ${{ matrix.target }}

        - name: build
          run: cargo build --release --target ${{ matrix.target }}

        - name: make artifiacts dir
          run: mkdir -p artifacts

        - name: copy binary
          run: cp target/${{ matrix.target}}/release/* artifacts

        - name: generate sha256 checksums
          run: |
            cd artifacts
            for f in *; do
                sha256sum "$f" > "$f.sha256"
            done

        - name: upload release asset
          uses: softprops/action-gh-release@v1
          with:
            files: artifiacts/*
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
